.oneChat{
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    height: 100%;
    display: flex;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex: 3 0 auto;
}

.messagesContainer{
    width: 80%;
    height: 80%;
}

.joinText{
    margin-right: 5px;
}

.sendIcon{
    margin-left: 5px;
}

.messageForm {
    width: 45vw;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.messageForm Button{
    height: 100%;
}


.messageForm input{
    height: 3vh;
    width: 30vw;
}
