*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    overflow: -moz-scrollbars-none;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}
