.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginContainer input{
    width: 500px;
    margin: 30px;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.loginContainer input:focus{
    outline: none;
}
