.loginContainer{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer form{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inputField{
    outline: none;
    width: 100%;
}

.log-in-button{
    width: 45vw;
    height: 60px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px  white inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
}
